.col-sm-11
  section.py-4.py-lg-5
    h2.h2.mb-4.text-center Список Проектов
    .table-responsive
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col" class="w-5">#</th>
            <th scope="col" class="w-50">Полное наименование</th>
            <th scope="col" class="w-35">Сокращенное наименование</th>
            <th scope="col" class="w-10"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="single-project.html">Наименование проекта</a></td>
            <td><a href="single-project.html">Сокращенное наименование</a></td>
            <td>
              <a href="single-project.html" class="btn btn-icon" area-label="Редактировать элемент"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
          </tr>

          <tr>
            <th scope="row"></th>
            <td>
              input.form-control.table--new-item-text.js-new-table-item-input(
                type="text",
                placeholder="Введите Полное наименование проекта"
              )
            </td>
            <td>
              input.form-control.table--new-item-text.js-new-table-item-input(
                type="text",
                placeholder="Введите Сокращенное наименование"
              )
            </td>
            <td></td>
          </tr>

          <tr>
            <td colspan="4">
              <a href="#" class="btn btn-icon" area-label="Добавить элемент">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
            </td>
          </tr>

        </tbody>
      </table>

  section.py-4.py-lg-5
    h2.h2.mb-4.text-center Список организаций
    .table-responsive
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col" class="w-5">#</th>
            <th scope="col" class="w-50">Полное наименование</th>
            <th scope="col" class="w-35">Сокращенное наименование</th>
            <th scope="col" class="w-10"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><a href="single-company.html">Наименование организации</a></td>
            <td><a href="single-company.html">Сокращенное наименование</a></td>
            <td>
              <a href="single-company.html" class="btn btn-icon" area-label="Редактировать элемент"><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </td>
          </tr>

          <tr>
            <th scope="row"></th>
            <td>
              input.form-control.table--new-item-text.js-new-table-item-input(
                type="text",
                placeholder="Введите Полное наименование организации"
              )
            </td>
            <td>
              input.form-control.table--new-item-text.js-new-table-item-input(
                type="text",
                placeholder="Введите Сокращенное наименование"
              )
            </td>
            <td></td>
          </tr>

          <tr>
            <td colspan="4">
              <a href="#" class="btn btn-icon" area-label="Добавить элемент">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>