.col-md-12
  section.py-4.py-lg-5
    h2.h2.mb-4.text-center Карточка вызова id
    .row.justify-content-center
      .col-md-10
        .row
          .col-md-6
            ul.features-list.list
              li.features-list__item Конструкция
              li.features-list__item Граница от
              li.features-list__item Граница до
              li.features-list__item Вид работ
              li.features-list__item Шифр РД
              li.features-list__item Шифр ТД
              li.features-list__item ФИО представителя
              li.features-list__item Телефон представителя
              li.features-list__item Дата проверки - Время проверки

          .col-md-6
            .img-gallery.js-img-gallery
              a.img-gallery__item(
                href="https://images.unsplash.com/photo-1572351670522-27e18d3aa086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80",
              )
                img(
                  src="https://images.unsplash.com/photo-1572351670522-27e18d3aa086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80",
                  alt=""
                )
              a.img-gallery__item(
                href="https://images.unsplash.com/photo-1572279990716-4f8343703ed6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80",
              )
                img(
                  src="https://images.unsplash.com/photo-1572279990716-4f8343703ed6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80",
                  alt=""
                )
              a.img-gallery__item(
                href="https://images.unsplash.com/photo-1572351670522-27e18d3aa086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80",
              )
                img(
                  src="https://images.unsplash.com/photo-1572351670522-27e18d3aa086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80",
                  alt=""
                )
              a.img-gallery__item(
                href="https://images.unsplash.com/photo-1572279990716-4f8343703ed6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80",
              )
                img(
                  src="https://images.unsplash.com/photo-1572279990716-4f8343703ed6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80",
                  alt=""
                )
              a.img-gallery__item(
                href="https://images.unsplash.com/photo-1572351670522-27e18d3aa086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80",
              )
                img(
                  src="https://images.unsplash.com/photo-1572351670522-27e18d3aa086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80",
                  alt=""
                )
              a.img-gallery__item(
                href="https://images.unsplash.com/photo-1572279990716-4f8343703ed6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80",
              )
                img(
                  src="https://images.unsplash.com/photo-1572279990716-4f8343703ed6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80",
                  alt=""
                )
              a.img-gallery__item(
                href="https://images.unsplash.com/photo-1572351670522-27e18d3aa086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80",
              )
                img(
                  src="https://images.unsplash.com/photo-1572351670522-27e18d3aa086?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80",
                  alt=""
                )
              a.img-gallery__item(
                href="https://images.unsplash.com/photo-1572279990716-4f8343703ed6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80",
              )
                img(
                  src="https://images.unsplash.com/photo-1572279990716-4f8343703ed6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80",
                  alt=""
                )


  section.py-4.py-lg-5
    h3.h3.mb-4.text-center История изменений
    .table-responsive
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th scope="col">Версия</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Автор</th>
            <th scope="col">Дата ответа</th>
            <th scope="col">Исполнитель</th>
            <th scope="col">Статус</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>05/09/2019</td>
            <td>ФИО</td>
            <td>dd/mm/yyyy</td>
            <td>ФИО</td>
            <td>Не освидетельствовано</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>06/09/2019</td>
            <td>ФИО</td>
            <td>dd/mm/yyyy</td>
            <td>ФИО</td>
            <td>Освидетельствовано</td>
          </tr>

        </tbody>
      </table>
